

body {
    background-color: #392A2C;
}

.ourTest{
	float: right;
}

#titleArea {
    color: white;
	height: 675px;
}

#titleArea::after {
	content:"";
	background-image: url("images/bg.jpg");
	background-position: center;
	background-size: cover;
	background-color: black;
	top:0;
	left:0;
	bottom:0;
	right:0;
	height: 675px;
	width: 100%;
	z-index: -1;
	position: absolute;
	animation: fadein 1s;
}


#brandImage {
	width: 250px;
	height: 132px;
	position: absolute;
	padding: 10px;
	margin: 10px;
	opacity: 1;
	z-index: 1;
}

nav {
	top: 30px;
	
}

.nav-item {
	padding:10px;
}

#pageTitle {
	position: absolute;
	width: 100%;
	top:200px;
	color:white;
	text-align: center;
	z-index: 1;
	font-size:75px;
	font-family: "sans-serif";
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#bgColor {
	background-color: black;
	opacity:0.9;
	z-index: -2;
}

nav {
	z-index: 2;
}

.navbar-color {
	color:white;
}

#contactUsBox {
	position: relative;
    border-style: solid;
    border-width: 2px;
    border-color: #F4B540;
	border-radius: 5px;
	padding-left: 20px;
	padding-right: 20px;
	color: #F4B540;
	transition: 0.15s linear;
	top: -2px;
}

#contactUsBox:hover {
	background-color: #F4B540;
	color:black;
}

.navbar-toggler-icon {
	color:white;
}

.dropdown-menu {
	color: #FFFFFF;
	background-color: #392A2C;
	transition: 0.1s linear;
}

/*
.dropdown-item:hover {
	color: #ffffff;
	background-color: #392A2C;
}
*/


.dropdown:hover .dropdown-menu {
	position:absolute;
	display: block;
	border-bottom-color: #EFD9C1;
}

.navbar a {
	color: white;
}



/*Styling for the content area which is white*/
#content {
	background-color: white;
}

@media(max-width: 700px) {
	nav.navbar {
		background-color: lightgrey;
	}
}

/*for the social media buttons*/
#socialMedia {
    background-color: #F4B540;
    padding-top: 20px;
    padding-bottom: 20px;
}

#socialMedia:hover>.fa {
    opacity:0.5;
    transition: 0.15s ease-out;
}

.fa { 
    border-radius: 30px;
    background-color: white;
    color: #F4B540;
    display:inline-block;
    height:40px;
    line-height: 40px;
    margin: auto 3px;
    width: 40px;
    font-size: 20px;
    text-align: center;
}
.fa:not(#socialMedia):hover {
    color: #F4B540;
    opacity:1;
    transition: 0.15s ease-out;
    text-decoration: none;
}

/*For footer area*/
footer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #392A2C;
}

#address {
    text-align: center;
    color: white;
    
    padding-top: 40px;
    padding-bottom: 40px;
}

#address > a{
    color: white;
}

#groundswellDetail {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #999999;
}

#map {
    max-width: 100%;
    height: auto;
    width: auto;
}

::selection {
    background: #333333;
}

#groundswellCopyright {
	color:#999999;
}

.pagination { 
    text-align: center;
    margin: 1em 0;
 } 

.pagination span {
    /* display: inline-block; */
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    margin-right: 0.5em;
	
}

.pagination span.active { 
	text-align: center;
    background: #F4B540;
	color: white;
}

th {
	cursor: auto;
}

tr {
	cursor: pointer;
}
